* {
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(-45deg, #e78e73, #bd8298, #87cfe9, #5ee0c2);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  margin-top: 5%;
  color: aliceblue;
  margin: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* content div*/
.content {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* welcome div*/
.welcome {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome button {
  width: 190px;
  margin: 10px;
}

.welcome button:hover {
  background-color: #ffffffb7;
}

/* game div*/
.game {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* navbar */
.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #7cb1c4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar img {
  height: 50px;
  margin-left: 20px;
}

.navbar img:hover {
  cursor: pointer;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 6%;
}

.navbar a:hover {
  background-color: rgba(86, 130, 136, 0.65);
  cursor: pointer;
}

.active {
  background-color: #4caf50;
  color: white;
}

/* signup-form */
.signup-form {
  width: 500px;
}

.signup-form input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}

.signup-form input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}

.signup-form input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}

.signup-form input[type="date"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}

.signup-form input[type="submit"] {
  width: 50%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-form input[type="submit"]:hover {
  background-color: #45a049;
}

.signup-form div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*login form */
.login-form {
  width: 500px;
}

.login-form input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}

.login-form input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}

.login-form input[type="submit"] {
  width: 50%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: #45a049;
}

.login-form div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*config form */
.config {
  width: 300px;
}

.config input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}

.config input[type="color"],
select {
  width: 100%;
  height: 50px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}

#submit_shooting_button {
  margin-top: 10px;
  width: 100%;
}

/* footer div*/
.footer {
  margin: auto;
  width: 80%;
  padding: 8%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.footer h1 {
  font-size: 50px;
  text-align: center;
}

.footer p{
  line-height: 20px;
}

.footer li{
  line-height: 20px;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid rgb(207, 223, 224);
  border-radius: 5px;
}

.modal-content {
  color: black;
}

/* records div*/
.records {
  margin: auto;
  width: 80%;
  padding: 8%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}


